/* Font for the Website */
@font-face {
	font-family: "BoldPixels";
	src: url("pixel_game.ttf")
}

/* Style for Phones */ 
@media only screen and (orientation: portrait) {
	/* Header Styles */
	.header {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		background: #000;
		font-size: 1.5rem;
	}
	.button {
		display: inline-block;
		margin-left: 2rem;
		margin-right: 2rem;
		border: none;
		color: #fff;
		background: #000;
		text-decoration: none;
	}
	/* * * * * */ 

	body {
		margin: 0;
		font-family: "BoldPixels";
		font-size: 2rem;
		background: #000;
		color: #fff;
	}

	.divider {
		width: 65%;
		color: white
	}
	.introduction {
		text-align: left;
		width: 50%;
		margin-left: auto;
		margin-top: 2rem;
		margin-bottom: 2rem;
		font-size: 1.5rem;
	}


	.title {
		margin-top: 5rem;
		padding-top: 4rem;
		padding-bottom:4rem;
		margin-bottom: 5rem;
		font-family: "BoldPixels";
		font-size: 35%;
		width: 60%;
		text-align: center;
		margin: auto;
	}

	/* Footer */ 
	.footer {
		text-align: center;
		color: #fff;
		margin-top: 5rem;
		font-size: 0.75rem;
	}
	/* * * * * */
}

/* Style for Desktop */ 
@media only screen and (orientation: landscape) {
	/* Header Styles */
	.header {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		background: #000;
		font-size: 2rem;
	}
	.button {
		display: inline-block;
		margin-left: 2rem;
		margin-right: 2rem;
		border-radius: 0.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		color: #fff;
		background: #000;
		text-decoration: none;
	}
	.button:hover {
		background-color: #141919;
		text-decoration: underline;
	}

	body {
		font-family: "BoldPixels";
		font-size: 2rem;
		background: #000;
		color: #fff;
	}

	.div-test{
		width: 50%;
		margin: 0 auto;
		text-align: left;
		margin-bottom: 2rem;
		font-size: 1.75rem;
	}

	.div-test ol {
		margin-left: 2rem;
		list-style-position: inside;
	}

	li p {
		margin-left: 1rem;
		margin-top: 0.5rem;
	}

	.divider {
		width: 65%;
		color: white
	}
	.introduction {
		text-align: left;
		width: 50%;
		margin: auto;
		margin-top: 4rem;
		font-size: 2rem;
	}
	.title {
		margin-top: 5rem;
		padding-top: 4rem;
		padding-bottom:4rem;
		margin-bottom: 5rem;
		font-family: "BoldPixels";
		font-size: 50%;
		width: 60%;
		text-align: center;
		margin: auto;
	}

	/* Footer */ 
	.footer {
		text-align: center;
		color: #fff;
		margin-top: 5rem;
		margin-bottom: 5rem;
		font-size: 1.5rem;
	}
	/* * * * * */
	.ablem {
		margin: auto;
		width: 50%;
		height: auto;
	}

	.title-image { 
		display: flex; 
		justify-content: center; 
		align-items: center; 
		width: 70%;
		margin: auto;
		margin-top: 10rem;
	}

	.content {
		text-align: center;
		padding-top: 5rem;
		font-size: 1.5rem;
	}

	.profile {
		margin-bottom: 3rem;
	}

	.profile-picture {
		display: block;
		margin: auto;
		width: 25rem;
		height: 25rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		border-radius: 50%;
		border: 0.5rem double white;
	}

	.profile-name {
		font-size: 1.9rem;
	}

	.profile-description {
		font-size: 1.5rem;
	}

	.logo {
		width: 4rem;
		height: 4rem;
		margin-left: 1rem;
		margin-top: 1rem;
		margin-right: 0.5rem;
		margin-bottom: 0.5rem;
		display: inline-block;
	}

	.link {
		color: #000;
	}

	.bocchi {
		width: 20%;
		height: 20%;
		margin: auto;
		display: block;
		border-radius: 3rem;
	}
}
