/* Font for the Website */
@font-face {
	font-family: "BoldPixels";
	src: url("pixel_game.ttf")
}

/* Style for Phones */ 
@media only screen and (orientation: portrait) {
	/* Header Styles */
	.header {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		background: #000;
		font-size: 1.5rem;
	}
	.button {
		display: inline-block;
		margin-left: 2rem;
		margin-right: 2rem;
		border: none;
		color: #fff;
		background: #000;
		text-decoration: none;
	}
	/* * * * * */ 

	body {
		font-family: "BoldPixels";
		font-size: 2rem;
		background: #000;
		color: #fff;
	}

	.divider {
		width: 65%;
		color: white
	}
	.introduction {
		text-align: left;
		width: 50%;
		margin: auto;
		margin-top: 2rem;
		margin-bottom: 2rem;
		font-size: 1.5rem;
	}
	.title {
		margin-top: 5rem;
		padding-top: 4rem;
		padding-bottom:4rem;
		margin-bottom: 5rem;
		font-family: "BoldPixels";
		font-size: 35%;
		width: 60%;
		text-align: center;
		margin: auto;
	}

	/* Footer */ 
	.footer {
		text-align: center;
		color: #fff;
		margin-top: 5rem;
		font-size: 0.75rem;
	}
	/* * * * * */
}

/* Style for Desktop */ 
@media only screen and (orientation: landscape) {
	/* Header Styles */
	.header {
		position: sticky;
		position: -webkit-sticky;
		top: 0;
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		background: #000;
		font-size: 2rem;
		border: solid;
		border-radius: 1rem;
	}
	.button {
		display: inline-block;
		margin-left: 2rem;
		margin-right: 2rem;
		border: solid 2px;
		border-radius: 0.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		color: #fff;
		background: #000;
		text-decoration: none;
	}
	/* * * * * */

	body {
		font-family: "BoldPixels";
		font-size: 2rem;
		background: #000;
		color: #fff;
	}

	.divider {
		width: 65%;
		color: white
	}
	.introduction {
		text-align: left;
		width: 50%;
		margin: auto;
		margin-top: 4rem;
		margin-bottom: 4rem;
		font-size: 2rem;
	}
	.title {
		margin-top: 5rem;
		padding-top: 4rem;
		padding-bottom:4rem;
		margin-bottom: 5rem;
		font-family: "BoldPixels";
		font-size: 50%;
		width: 60%;
		text-align: center;
		margin: auto;
	}

	/* Footer */ 
	.footer {
		text-align: center;
		color: #fff;
		margin-top: 5rem;
		font-size: 1rem;
	}
	/* * * * * */
}
